* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

a {
  color: white;
}

h1 {
  font-weight: bold;
  line-height: 32px;
}

h1, h2 {
  color: white;
  margin-left: 10px;
  width: 90vw;
}

header {
  box-shadow: 0px 25px 55px -23px #FF2EFB;
  position: fixed;

  width: 100vw;

  background-color: black;
}

nav {
  display: flex;

  padding: 10px;

  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
}

nav a, h1 {
  font-family: 'PT Sans Caption', sans-serif;
}

.facts h1 {
  color: #FF2EFB;
  width: 100vw;
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  text-transform: uppercase;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  margin-top: 20px;
  line-height: 25px;
}

.facts {
  display: block;

  padding-top: 100px;
}

.tvgif {
  width: 100vw;
  padding-top: 10px;
}

.shining {
  display: block;

  padding-top: 20px;
}

.shining h1, .title h1, .curse h1 {
  font-size: 26px;
}

.shining h2 {
  margin-top:
}

.city, .bladerunner {
  width: 100vw;
  margin: 40px 0 40px 0;
}

.button {
  padding: 30px 0 30px 0;
  display: flex;
  font-family: 'PT Sans Caption', sans-serif;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .facts, .shining, .title, .curse {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .facts h1 {
    font-size: 36px;
    width: 75vw;
    line-height: 46px;
  }

  .shining h1, .title h1, .curse h1 {
    font-size: 28px;
    width: 75vw;
    line-height: 46px;
  }

  h2 {
    width: 75vw;
    font-size: 24px;
    line-height: 30px;
  }

  .tvgif {
    width: 70vw;
    padding: 40px 0 40px 0;
  }

  .button {
    font-size: 26px;
    padding: 30px 0 40px 0;
  }
}

@media (min-width: 1024px) {
  .facts, .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .leftp {
    flex-direction: column;
  }

  .facts h1 {
    font-size: 28px;
  }

  .shining h1, .title h1, .curse h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h1, h2 {
    margin-left: 20px;
    width: 45vw;
  }

  .city {
    overflow-y: hidden;
  }

  .shining {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

}
